Still logged in with no warning when doing auth as a different user

I ran into being logged in as the wrong user when doing auth, consequently giving the app a token for the wrong account, because I didn't realize it.

1. Log in as Bob
2. Start auth from an app as Alice
3. See OAuth dialog for Bob account

At 5apps, we actually log you out and prefill the username field on the new login with Alice then. There are other options, of course, but I think keeping Bob logged in and just showing the dialog with no warning is a bad idea. The app will also take Bob's token afterwards and still try to sync as Alice, which obviously fails.

Yeah, I ran into this issue at some point, but it got lost as it was an issue in the form login project, see: https://github.com/fkooman/php-lib-rest-plugin-authentication-form/issues/1

The thing is that it's not just a "login hint", but more of a requirement to do the auth for Alice. I think integrating it in the URL instead of using a query param would make sense there.

I still wonder how that would map to alternative login methods, i.e. SAML, client certificates, IndieAuth etc. I guess in the end it doesn't really matter whether or not it is query parameter or part of the path, it can be ignored either way...

Some possible solutions:
0. do nothing, most users will only have 1 account, so not that big of a deal;
1. warn that the hint is different from the logged in user (and allow changing)
2. enforce login_hint, i.e. do not accept if currently logged in user has other user_id, log the current user out and present a new login form (with new hint)



> I still wonder how that would map to alternative login methods, i.e. SAML, client certificates, IndieAuth etc. I guess in the end it doesn't really matter whether or not it is query parameter or part of the path, it can be ignored either way...

If the username is part of the resource (in this case the RS auth), then the currently logged-in user shouldn't have access to that resource, making it different than using a query param. So then you can decide what to do with that on that page, either show a hint with logout option or log out and show log-in form to access that resource.

I think then the auth method doesn't matter at all, so it solves it for all of the ones you mentioned.

If I want to return an access token valid for `/fkooman/` I have to map whatever authentication mechanism I use next to `/fkooman/`. So if I use a client certificate I need to map e.g. the CN to `fkooman`. With SAML it is the same, there needs to be an attribute to map.

So what I will implement is log the user out if login_hint does not match the currently logged in user_id and the user will see the authenticate dialog with the new login_hint.

I guess moving this to the URL path is not required to make this work, and I don't see any benefit or need to change that, except aesthetics...

Will be fixed in next release package. The fix is in a dependency, so it does not technically require a new release of php-remote-storage, but it will be part of the next released version.

So the fix also works when not adding a "hint" via a query param?

https://tools.ietf.org/html/rfc6749#section-3.1

```
   The endpoint URI MAY include an "application/x-www-form-urlencoded"
   formatted (per Appendix B) query component ([RFC3986] Section 3.4),
   which MUST be retained when adding additional query parameters.  The
   endpoint URI MUST NOT include a fragment component.
```

Argh, come on, OAuth. :)

... I still think the name "login_hint" for sth that is security-critical resource identification is a bad idea, though.

Why is this security critical? And how does adding it to the path instead make it more secure?

As far as I know it is only meant to avoid the user logging in with the wrong identity as to give the RS client an unusable `access_token`.

Not sending the `state` parameter, that is security critical.

See my problem description. I unintentionally gave the app a token for the wrong user, and I didn't even notice that I was logged in as someone else. I'd say giving out root tokens for wrong accounts to apps is rather critical.

Well, unintentionally given a token for the wrong user is no longer possible now.



> Why is this security critical? And how does adding it to the path instead make it more secure?

It doesn't by itself. But the term "hint" says it's some optional thing, where I give a *hint* to the app, not the actual resource description.

Well, but it is a hint. The way in which RS uses an OAuth server is exceptional because there needs to be an understanding between the client and the authorization server about the RS 'internal' user ID. Typically, the client does not even need to know anything about the user, just a valid `access_token`.

So in the RS context, it may be a little more than a hint, but certainly not in the OAuth context.

> So in the RS context, it may be a little more than a hint, but certainly not in the OAuth context.

How does that help RS developers dismissing it as a hint? You might be correct technically, but that doesn't improve demonstrably bad UX. I literally ran into that with the first client I developed against the server.

But implementing OAuth and URL query parameter appending, is not easy, this is hardly the only thing you have to take care of! That's why it makes sense to use a well established library for handling OAuth if you are not up to speed on the RFCs.

I use `login_hint` because it is used in the OpenID Connect specification in a similar way.

You haven't responded to my point at all, except for telling me that I shouldn't be doing a 2-line auth in rs-backup, because someone else has read more RFCs. That's hardly helping developers to avoid mistakes.

You can sit in a golden tower telling everyone how they're bad developers and wrong, but that's not helping anyone to avoid making mistakes in the first place.